*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-small{
    width: 70%;
    margin: auto;
}



/*header*/
nav{
    background-color: #0084FD;
    width: 100%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style:none;
}
.nav-bar a{
    width: 100%;
    color: white;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
}
.nav-bar .links{
    display: flex;
    align-items: center;
    list-style: none;
}
.btn-white{
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: .5rem;
    margin: .5rem;
    margin-bottom: 1.5rem;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 300px;    /*DA TOGLIERE*/
    background-color: brown;/*DA TOGLIERE*/
    margin-top: 2rem;
    margin-bottom: 4rem;
    gap: .5rem;
   
}

.card-container .card{
    flex-basis: 32%;
    background-color: #B5DDFF;
    
}
.card-container .double-card{
    flex-basis: calc(64% + .5rem);
}
