*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-small{
    width: 70%;
    margin: auto;
}
.container-big{
    width: 100%;
    background-color: #9792E4;
   
}

html{
    font-size: small;
}



/*header*/
nav{
    background-color: #0084FD;
    width: 100%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style:none;
}
.nav-bar a{
    width: 100%;
    color: white;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
}
.nav-bar .links{
    display: flex;
    align-items: center;
    list-style: none;
}
.btn-white{
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: .5rem;
    margin: .5rem;
    margin-bottom: 1.5rem;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;
    gap: .5rem;
  
}

.card-container .card{
    display: flex;
    flex-basis: 32%;
    background-color: #B5DDFF;
    border-radius: 10px;
    padding: 1rem;
    
}
.card-container .double-card{
    display: flex;
    flex-basis: calc(64% + .5rem);
}

.card .double-card .text{
   width: 50%;
}
.phone{
  width: 150px;  
}
.card .double-card .img{
    width: 50%;  
}

.text h3{
    color: #0084FD;
}
.text p{
    color: #5A6E7F;
    margin-top: 1rem;
    
}

.btn-blue{
    display: block;
    width: 40%;
    color: white;
    background-color: #0084FD;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 2rem;
    padding: .3rem;
}

.icon-card{
    color: #0084FD;
    font-size: 50px;
    line-height: 5rem;
}
.text-center{
    text-align: center;
}

/*main*/

/*Prima Sezione lilla strategic planning*/
.box{

    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.box .left{
    width: 50%;
}

.left img, .right img{
    width: 200px;
}
.left{
    
    padding: 2rem;
}

.textleft{
    color: white;
    line-height: 1.5rem;
}

.left h3{
    line-height: 6rem;
    font-size: x-large;
    font-weight: 900;
}

.right{
    width: 35%;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    color: black;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 8rem;
    
    margin-right: 3rem;
}

.arrow{
    background-color: #9792E4;
    text-align: center;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    margin-top: 2rem;
    margin-left: 8rem;
}

/*Seconda Sezione Testimonials*/

.title-purple{
    color: #9792E4;
    font-weight: 900;
    line-height: 4rem;
}
.testimonials{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.testimonials p{
    line-height: 1.5rem;
    color: black;

}

.rectangle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9792E4;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.rectangle img{
    width: 90px;
    height: 90px;
    border-radius: 4rem;
}
.text-rectangle{
    width: 70%;
    text-align:justify;
    color: white;
}

.author{
    line-height: 3rem;
}

/*Sezione Benefit*/
.title-big{
    font-size: x-large;
    color: white;
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 4rem;
}
.white-card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
   
}
.white-card {
    flex-basis: 32%;
    background-color: white;
    border-radius: 10px ;  
    padding: 2rem;
}
.white-card p{
    color: #5A6E7F;
}
.white-card h1{
    font-size: 4rem;
    font-weight: 900;
}

.white-card .titles{
    color: #9792E4;
    line-height: 3rem;
}

.white-card a{
    display: block;
    width: 50%;
    background-color: #9792E4;
    color: white;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    padding: .5rem;
    margin-top: 2rem;
}


/*Sezione About Us*/
.part-right img{
    width: 100px;
    height: 100px;
    border-radius: 4rem;
}
.aboutus{
    display: flex;
    width: 100%;
    padding: 2rem;
}

.aboutus .part-left{
    width: 60%;
}

.aboutus .part-right{
    width: 25%;
}



 
